.forum_header {
    font-size: 2.0em;
    color: #009887;
    font-family: 'Roboto Thin', 'Segoe UI light';
}

.question {
    font-family: "Roboto Light", 'Roboto Thin', 'Segoe UI Light';
    margin-right: 120px;
    margin-left: 150px;
    margin-top: 10px;
}

.avatar_image {
    width: 90px;
    height: 90px;
    margin-left: 15px;
    margin-right: 50px;
    border-radius: 50%; /*make it circular*/
}

.avatar_name {
    font-family: "Roboto Light", 'Roboto Thin', 'Segoe UI Light';
    color: #fff;
    font-size: 1.15em;
}

.question_text {
    font-family: "Roboto Light", "Segoe UI Light", "Roboto Thin";
    font-size: 1.15em;
    color: #fff;
}

.date {
    margin-left: 30px;
    color: #fff;
    font-family: "Roboto Light", 'Roboto Thin', 'Segoe UI Light';
}

.answer {
    margin-right: 120px;
    margin-left: 250px;
    margin-top: 10px;
}

.comments {
    margin-top: 20px;
}

.icon {
    outline: none;
    /*margin: 0px 10px;*/
    width: 20px;
    height: 20px;
}

.comment_links a {
    width: 20px;
    height: 20px;
    outline: none;
    padding: 7px;
    border-radius: 27px;
    margin: 0px 10px;
}

.comment_links a:hover {
    outline: none;
    background-color: #009887;
    padding: 7px;
    border-radius: 35px;
}

.comment_links a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

