.custom_button {
    background-color: #009887;
    border-radius: 0px;
    color: #ffffff;
}

.custom_inverse_button {
    background-color: #ffffff;
    border-radius: 0px;
    color: #009887;
}

.no_border {
    border-radius: 0px;
}

.login_here {
    display: none;
    bottom: 0;
    position: absolute;
    margin-top: 5px;
    background-color: rgba(0, 152, 135, .95);
    padding: 10px 20px;
    float: right;
    margin-left: 30%;
    margin-bottom: 10%;
    width: 40%;
}

.through_right {
    float: right;
}

.custom_input {
    color: ghostwhite;
    border-radius: 0px !important;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Roboto Thin', 'Roboto Light', 'Segoe UI semilight', 'Segoe UI Light';
    font-size: 1.25em;
}

.icon .fab_final {
    background-color: #009887;
    border-radius: 50%;
    padding: 25%;
    max-height: 40px
}

.square_image {
    max-height: 200px;
    min-height: 100px;
}

