.form_mine {
    display: none;
    bottom: 0;
    position: absolute;
    margin-top: 5px;
    background-color: rgba(0, 152, 135, .95);
    padding: 10px 20px;
    float: right;
    margin-left: 27%;
    margin-bottom: 5%;
    overflow-y: auto;
    overflow-x: hidden;
}

#fab_button {
    background-color: rgba(255, 70, 0, 0.9);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#fab_image {
    padding: 2px;
    width: 30px;
    height: 30px;
}

.ui-datepicker-header {
    background: repeat 0 0 rgba(0, 152, 135, 0.95);
    color: #e0e0e0;
    font-weight: bold;
    line-height: 30px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: none;
    border-radius: 0px;
    border-top-width: 0px;
}

.ui-datepicker {
    font-family: "Roboto Thin";
    background-color: rgba(0, 152, 135, 0.95);
    border: 0px;
    border-radius: 0px;
    color: white;
}

.ui-datepicker-calendar {
    background-color: rgba(0, 152, 135, 0.95);
    color: white;
    border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: rgba(0, 152, 135, 0.95);
    color: white;
}

.ui-widget-content {
    background: rgba(0, 152, 135, 0.95);
}

#event_icon {
    background: rgba(0, 152, 135, 0.95);
    color: white;
}

.fabk {
    background-color: rgba(255, 70, 0, 0.9);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.button_choice {
    padding: 5px;
    font-family: "Roboto Light";
    color: white;
    background: rgb(0, 152, 135);
    border: none;
    outline: none;
}

.mine {
    color: #fff;
    display: none;
    min-width: 130px;
    background-color: rgba(0, 152, 135, 0.8);
    border: none;
    border-radius: 0px;
}

.mine li a {
    color: white;
    font-family: "Roboto Light", "Roboto Thin";
}

.opp_desc_read {
    font-family: "Roboto Light", 'Roboto Thin';
    background-color: rgba(0, 152, 135, 0.8);
}

.lec_details {
    font-family: "Roboto Light", 'Roboto Thin';
    color: white;
}

.show_lecturers {
    display: none;
    /*bottom: 0px;*/
    position: absolute;
    margin-top: 5px;
    background-color: rgba(0, 152, 135, .95);
    padding: 10px 20px;
    float: right;
    margin-left: 0%;
    margin-bottom: 5%;
    overflow-y: auto;
    overflow-x: hidden;
}
.post{
    padding-top: 25px;
    font-family: "Roboto Light", 'Roboto Thin';
     background-color: rgba(0, 0, 0, 0.45);
     color:#009887
}
.mcolor{

    background-color:#009887;
    color:#fff;
}
.mcolor2{

    background-color:#009887;
    color:#000;
}
.scroll{
    overflow-x: auto; 
    overflow-y: scroll; 
    height: 400px ;
}
.mbtn {
    color: rgb(0, 152, 135);
    background: white;
    border-radius: 0px;
    font-family: "Roboto Light", "Roboto Thin";
    border: none;
    outline: none;
}

.mbtn:hover, .mbtn:active, .mbtn:focus {
    background: rgba(0, 152, 135, 0.95);
    color: black;
    border-radius: 0px;
    
    font-family: "Roboto Light", "Roboto Thin";
    border: none;
    outline: none;
}
.bcolor{

   /* background-color: #cccccc;*/
    background-image: url(../../assets/images/mm.jpg);
    color: white;
}

.landslider{
    height: 450px;
    background-color:#009887; 
}

.landbutton{
     color: white;
    background:#009887;
    border-radius: 0px;
    font-family: "Roboto Light", "Roboto Thin";
    border: none;
    outline: none;
    margin-top: 60px;
    width: 60px;

}
.landbutton:hover {
    background: rgba(0, 152, 135, 0.95);
    color: black;
    border-radius: 0px;
    text-decoration: none;
    font-family: "Roboto Light", "Roboto Thin";
    border: none;
    outline: none;
}