@font-face {
    font-family: 'Roboto Thin';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Thin'),
    local('Roboto Light'),
    local('Segoe UI Light'),
    local("Segoe UI semilight");
}

.nav-tabs.nav-justified > li.active > a:link,
.nav-tabs.nav-justified > li > a:active {
    border-bottom: 8px solid #000000;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0px;
    /*background-color: #009887;*/
    background-color: rgb(0, 152, 135);
}

#logo {
    font-family: 'Roboto Thin', 'Segoe UI Light', Helvetica, Arial, sans-serif;
    color: #009887;
    font-size: 4em;
    margin-top: 10px
}

.nav-tabs.nav-justified > li > a:focus {
    color: ghostwhite;
    border: none;
    background-color: #009887;
}

.nav-tabs.nav-justified > li > a:hover {
    border: none;
    background-color: #009887;
    color: #000000;
    border-bottom: 8px solid ghostwhite;
    font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*background*/
.nav-tabs.nav-justified {
    background-color: #009887;
    border-color: #009887;
}

.nav-tabs.nav-justified > li > a {
    color: ghostwhite;
    font-family: "Roboto Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    border: none;
    padding-bottom: 3px;
    padding-top: 3px;
}

.mefont {
    font-family: 'Roboto Thin', 'Segoe UI semilight', 'Segoe UI Light';
    font-size: 1.25em
}

/*user image*/
