@font-face {
    font-family: 'Roboto Thin';
    font-style: Light;
    font-weight: 400;
    src: local('Roboto Thin'),
    local('Roboto Light'),
    local('Segoe UI Light'),
    local("Segoe UI semilight");
}

header {
    margin-top: 10px;
    font-family: 'Roboto Thin', 'Segoe UI semilight';
    font-size: 4.5em;
    color: #009887;
}

.nav-tabs.nav-justified > li.active > a:link,
.nav-tabs.nav-justified > li > a:active {
    outline: none;
    border-bottom: 8px solid #000000;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0px;
    background-color: #009887;
}

.nav-tabs.nav-justified > li > a:focus {
    outline: none;
    color: ghostwhite;
    border: none;
    background-color: #009887;
}

.nav-tabs.nav-justified > li > a:hover {
    outline: none;
    border: none;
    background-color: #009887;
    color: #000000;
    border-bottom: 8px solid ghostwhite;
    font-family: 'Roboto Light', 'Roboto Thin', "Segoe UI semilight";
}

/*background*/
.nav-tabs.nav-justified {
    outline: none;
    background-color: #009887;
    border-color: #009887;
}

.nav-tabs.nav-justified > li > a {
    color: ghostwhite;
    font-family: "Roboto Thin", "Segoe UI semilight", "Segoe UI Light";
    font-size: 1.3em;
    border: none;
    padding-bottom: 3px;
    padding-top: 3px;
}



#noticeboard > #leftdiv {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.45);
    min-height: 400px;
    max-height: 400px;
    color: white;
    padding: 0px;
}

#noticeboard > #rightdiv {
    width: 47.3%;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    padding: 0px;
    min-height: 400px;
    max-height: 400px;
}

#noticeboard > #rightdiv > #scroll {

}

.heading1 {
    margin-top: 20px;
    font-family: 'Roboto Thin', 'Roboto Light', "Segoe UI semilight";
    font-size: 20px;
    margin-left: 20px;
}

.event {
    margin-bottom: 20px;
}

.event_holder_name {
    padding-left: 20px;
    color: ghostwhite;
    font-family: 'Roboto Thin', 'Roboto Light', "Segoe UI semilight";
    font-size: 18px;
}

.event_date {
    color: #000000;
    padding-left: 20px;
    margin-top: 10px;
    font-family: 'Roboto Light', 'Roboto Thin', "Segoe UI semilight";
}

/*opportunities*/
.opportunity {
    margin-top: 10px;
    margin-bottom: 10px;
}

.opportunity_box {
    width: 75px;
    height: 75px;
    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;*/
}

.briefcase {
    padding: 22.5px;
}

.opportunity_description {
    color: ghostwhite;
    font-family: 'Roboto Thin', 'Roboto Light', "Segoe UI semilight";
    font-size: 15px;
}

.read_more > a {
    outline: none;
    color: deepskyblue;
    text-decoration: none;
}

.opportunity_readmore {
    color: ghostwhite;
    font-family: 'Roboto Thin', 'Roboto Light', "Segoe UI semilight";
    font-size: 15px;
}

#later {
    color: #009887;
    font-family: 'Roboto Thin', 'Roboto Light', "Segoe UI semilight";
    font-size: 24px;
}

.fab {
    margin: 5px;
    background-color: rgba(255, 70, 0, 0.9);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: right;
    text-decoration: none;
}

.fab img {
    margin: 10px;
    width: 30px;
    height: 30px;
}

.fab:hover {
    background-color: rgba(255, 70, 0, 0.5);
}

.modal.custom .modal-dialog {
    border-radius: 0px;
    color: rgba(0, 0, 0, 0.5);
    /*add what you want here*/
}

/*.modal.custom .modal-dialog .modal-body, .modal.custom .modal-dialog .modal-footer {
    background-color: rgba(0, 0, 0, 0.7);
}*/

/*
.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    color: ghostwhite;
}
*/

.form-control {
    color: ghostwhite;
    border-radius: 0px !important;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Roboto Thin', 'Segoe UI semilight', 'Segoe UI Light';
    font-size: 1.25em
}

.modal-backdrop {
    background-color: rgba(0, 152, 135, 0.3);
}

.lecturer_image {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.lecturer_name {
    color: #009887;
}

.lecturer_email_address {
    color: ghostwhite;
}

.lecturer_field_of_competence {
    color: gray;
}

.custom_btn {
    color: rgb(0, 152, 135);
    background: white;
    border-radius: 0px;
    float: right;
    font-family: "Roboto Light", "Roboto Thin";
    border: none;
    outline: none;
}

.custom_btn:hover, .custom_btn:active, .custom_btn:focus {
    background: rgba(0, 152, 135, 0.95);
    color: black;
    border-radius: 0px;
    float: right;
    font-family: "Roboto Light", "Roboto Thin";
    border: none;
    outline: none;
}

/*lecturers button*/
.lecturer_button {
    font-family: 'Roboto Thin';
    font-size: 1.2em;
    color: ghostwhite;
    background-color: rgba(255, 70, 0, 0.9);
    border-radius: 5px;
    float: right;
    padding: 10px 10px 0px 10px;
}

.link_modal a {
    outline: none;
    text-decoration: none;
    color: ghostwhite;
}

.link_modal a:active {
    outline: none;
    text-decoration: none;
    color: ghostwhite;
}





