#search_field {
    color: #009887;
    font-size: 1.3em;
    width: 100%;
    display: inline-table;
    padding: 5px 15px;
    margin: 0px;
    font-family: "Roboto Light", 'Roboto Thin';
    border-radius: 0px;
    border-color: transparent;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}

#button_submit {
    width: 39px;
    display: inline-table;
    padding: 0px;
    margin: 0px;
    height: 39px;
    background-color: #009887;
    border-radius: 0px;
    border-color: transparent;
    outline: none;
}

#search_results {
    display: none;
    color: #009887;
    padding: 2%;
    font-size: 1.3em;
    font-family: "Roboto Light", "Roboto Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
